$navy-blue: #000080;
#countries {
	list-style-type: none;
}
.table {
	text-align: left;
	font-weight: bold;
	width: 50%;
	margin: auto;
	#flag img {
		max-width:100%;
		max-height:100%;
	}
	#name {
		text-transformation: uppercase;
		font-size: 64px;
		color: blue;
		font-weight: bold;
	}
	#background-info {
		color:white;
		background: $navy-blue;
		font-size: 24px;
	}
	.header {
		background: orange;
		color: $navy-blue;
		border: 2px white solid
	}
	.data {
		background: yellow;
		color: $navy-blue;
		border: none;
	}
	#footer {
		background: $navy-blue;
		height: 36px;
	}
}
div[class^="col-"] {
	padding: 0;
}